/* You can add global styles to this file, and also import other style files */

html {
    min-height:100%; 
    position:relative;
}

body {
    font-family: 'Cuprum', sans-serif !important;
    background-image: url("assets/bg2.png");
    min-height:100%;
}