/* You can add global styles to this file, and also import other style files */

html {
    min-height:100%; 
    position:relative;
}

body {
    font-family: 'Cuprum' !important;
    font-size:14px !important;
    background-image: url("assets/bg.png");
    min-height:100%;
}