.container {
    padding:0 !important;
    margin-top:50px !important;
    margin-bottom:200px !important;
}

td {
    vertical-align: middle !important;
}

.bg-dark {
    background-color: #343a40;
    border:1px solid #343a40;
    border-width:0 0 1px 0;
    position:relative;
    left:-1px;
}

.bg-warning {
    background-color: #ffc107;
    border:1px solid #ffc005;
    border-width:0 0 1px 0;
    position:relative;
    left:-1px;
}

tr:nth-child(2) td:first-child {
    bottom:-1px;
    border-top:1px solid #dddddd;
}

tr:last-child td:first-child {
    bottom:-1px;
    border-width:2px 0 0 1px;
    border-top-left-radius: 0 !important;
}

td:nth-child(2) {
    padding-bottom:8px;
}

.calendar {
    width:50px;
}

.date {
    width:50px;
    height:50px;
    border-radius:100%;
    text-align: center;
    background-color:#ececec;
    padding-top:7px;
    font-size:10px;
}

.date::first-line {
    font-size:14px;
}

.time {
    text-align:center;
    margin-top:1px;
}

.btn {
    border-radius:1000px !important;
    padding:5.75px 10px 5.75px 10px;
}

td button span {
    line-height:inherit !important;
}