<div class="container panel">
  <table class="table table-hover table-striped" *ngIf="trashToggle === false">
    <tr>
      <th></th>
      <th>Date & Time</th>
      <th>Event's Name</th>
      <th>Event's Owner</th>
      <th>Event's Location</th>
      <th>Event's Partecipants</th>
      <th></th>
    </tr>
    <tr *ngFor="let event of eventsDB | hideTrash">
      <td *ngIf="event.owner_id !== usersDB[loggedUser].id && event.trashedBy.indexOf(loggedUser) === -1" class="bg-dark"></td>
      <td *ngIf="event.owner_id === usersDB[loggedUser].id && event.trashedBy.indexOf(loggedUser) === -1" class="bg-warning"></td>
      <td *ngIf="event.trashedBy.indexOf(loggedUser) > -1" class="bg-danger"></td>
      <td>
        <div class="calendar">
          <div class="date">{{event.date.substring(0,2)}}
            <br>{{monthConversion(event.date)}}</div>
          <div class="time">{{event.time}}</div>
        </div>
      </td>
      <td>
        <span class="glyphicon glyphicon-bookmark"></span> {{event.name}}</td>
      <td>
        <span class="glyphicon glyphicon-user"></span> {{usersDB[event.owner_id].name}}</td>
      <td>
        <span class="glyphicon glyphicon-map-marker"></span> {{event.city}}, {{event.address}}</td>
      <td>
        <span class="glyphicon glyphicon-heart"></span> {{event.going}} People are going</td>
      <td>
        <button *ngIf="event.owner_id !== usersDB[loggedUser].id" type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button *ngIf="event.owner_id === usersDB[loggedUser].id" type="button" class="btn btn-warning">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button *ngIf="event.owner_id !== usersDB[loggedUser].id" type="button" class="btn btn-danger" (click)="moveToTrash(event)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <div *ngIf="event.owner_id === usersDB[loggedUser].id" class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a (click)="deleteEvent(event)" href="#"><span class="glyphicon glyphicon-remove"></span> Confirm Deletion</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-menu-left"></span> Cancel</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-option-horizontal"></span>
        </button>
      </td>
    </tr>
  </table>
  <table class="table table-hover table-striped" *ngIf="trashToggle === true">
    <tr>
      <th></th>
      <th>Date & Time</th>
      <th>Event's Name</th>
      <th>Event's Owner</th>
      <th>Event's Location</th>
      <th>Event's Partecipants</th>
      <th></th>
    </tr>
    <tr *ngFor="let event of eventsDB | viewTrash">
      <td class="bg-danger"></td>
      <td>
        <div class="calendar">
          <div class="date">{{event.date.substring(0,2)}}
            <br>{{monthConversion(event.date)}}</div>
          <div class="time">{{event.time}}</div>
        </div>
      </td>
      <td>
        <span class="glyphicon glyphicon-bookmark"></span> {{event.name}}</td>
      <td>
        <span class="glyphicon glyphicon-user"></span> {{usersDB[event.owner_id].name}}</td>
      <td>
        <span class="glyphicon glyphicon-map-marker"></span> {{event.city}}, {{event.address}}</td>
      <td>
        <span class="glyphicon glyphicon-heart"></span> {{event.going}} People are going</td>
      <td>
        <button (click)="restoreEvent(event)" type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-repeat"></span>
        </button>
        <button type="button" class="btn btn-danger" (click)="moveToTrash(event)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-option-horizontal"></span>
        </button>
      </td>
    </tr>
  </table>
</div>