table {
    background-color:white;
    border-radius:5px !important;
    margin-top:50px !important;
    margin-bottom:200px !important;
}

td {
    vertical-align: middle !important;
}

.bg-dark {
    background-color: #343a40;
    border-bottom:1px solid #343a40;
}

.bg-warning {
    background-color: #ffc107;
    border-bottom:1px solid #ffc107;
}