<app-menu></app-menu>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-5">New Event</h1>
    <p class="lead">Fill the input fields to create a new event.</p>
    <hr class="my-4">
    <form>
      <div class="form-group row">
        <div class="col-sm-12 col-md-6">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <span class="fa fa-bookmark"></span>
            </span>
            <input [(ngModel)]="event.name" name="name" type="text" class="form-control" placeholder="Event's Name" aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <span class="fa fa-info"></span>
            </span>
            <input [(ngModel)]="event.description" name="description" type="text" class="form-control" placeholder="Event's Description"
              aria-describedby="sizing-addon1">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 col-md-3">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <span class="fa fa-clock-o"></span>
            </span>
            <input [(ngModel)]="event.time" name="time" type="time" class="form-control" [placeholder]="today | date:'HH:mm'" aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <span class="fa fa-map-marker"></span>
            </span>
            <input [(ngModel)]="event.city" name="city" type="text" class="form-control" placeholder="Event's City" aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <span class="fa fa-location-arrow"></span>
            </span>
            <input [(ngModel)]="event.address" name="address" type="text" class="form-control" placeholder="Event's Address" aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <span class="fa fa-calendar"></span>
            </span>
            <input [(ngModel)]="event.date" name="date" type="date" class="form-control" [placeholder]="today | date:'yyyy-MM-dd'" aria-describedby="sizing-addon1">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container d-flex justify-content-between">
    <button (click)="goHome()" type="button" class="btn btn-outline-secondary btn-lg">
      <span class="fa fa-angle-left"></span> Cancel</button>
    <button (click)="createEvent()" type="button" class="btn btn-primary btn-lg">
      <span class="fa fa-plus"></span> Create Event</button>
  </div>
</div>

<app-footer></app-footer>