<div class="container divHeight">
  <form action="" name="form" id="form" novalidate>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group col-md-12">
          <input class="col-md-12" type="text" placeholder="Event's Name">
        </div>
        <div class="form-group col-md-12">
          <input class="col-md-12" type="text" placeholder="Event's Description">
        </div>
        <div class="form-group col-md-12">
          <div class="form-group col-md-6 noPadding">
            <input class="col-md-11" type="text" placeholder="Event's Date">
          </div>
          <div class="form-group col-md-6 noPadding">
            <input class="col-md-11 goRight" type="text" placeholder="Event's Time">
          </div>
        </div>
        <div class="form-group col-md-12">
          <div class="form-group col-md-6 noPadding">
            <input class="col-md-11" type="text" placeholder="Event's City">
          </div>
          <div class="form-group col-md-6 noPadding">
            <input class="col-md-11 goRight" type="text" placeholder="Event's Address">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group col-md-12">
          <iframe frameborder="0" class="col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.6091732903506!2d12.501513050726272!3d41.901261571841914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61a3f6bcb73d%3A0x461a57bcc3b95f55!2sLUISS+ENLABS!5e0!3m2!1sit!2sit!4v1507374134343"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="form-group col-md-6">
        <button type="button" class="btn-cancel">Cancel</button>
      </div>
      <div class="form-group col-md-6 noPadding">
        <button type="button" class="btn-info goRight">Create Event</button>
      </div>
    </div>
  </form>
</div>