.jumbotron{
    margin-top: 50px;
    background-color: white;
    padding:2rem;
}

.container{
    margin-top: 50px;
    margin-bottom: 200px;
}

.input-group-addon {
    width:50px;
    justify-content: center;
}

.form-control {
    font-size:1rem;
}

.btn {
    cursor: pointer;
}

@media (max-width: 768px) {
    .input-group {
        margin-bottom:0.5rem !important;
    }

    .form-group {
        margin-bottom:0 !important;
    }

    .jumbotron {
        padding:1rem !important;
        border-radius: 0 !important;
    }

    .container {
        padding:0 !important;
        max-width:100% !important;
    }

    .container.d-flex {
        padding-left:0.1rem !important;
        padding-right:0.1rem !important;
    }
}