.jumbotron{
    margin-top: 50px;
    background-color: white;
    padding:2rem;
}

.container{
    margin-top: 50px;
    margin-bottom: 200px;
}

.input-group-addon {
    width:50px;
    justify-content: center;
}

.form-control {
    font-size:1rem;
}

.btn {
    cursor: pointer;
}