<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <a (click)="goHome()" class="navbar-brand mr-auto">
    <img src="../assets/logo.png" width="100" height="50" class="d-inline-block align-top" alt="Click">
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="currentPath === 'home'" class="nav-item">
        <a (click)="viewTrash()" class="nav-link">
          <span class="fa fa-trash"></span> View Trash</a>
      </li>
      <li *ngIf="currentPath === 'home'" class="nav-item">
        <a (click)="newEvent()" class="nav-link">
          <span class="fa fa-plus"></span> New Event</a>
      </li>
      <li *ngIf="currentPath !== 'home'" class="nav-item">
        <a (click)="goHome()" class="nav-link">
          <span class="fa fa-home"></span> Homepage</a>
      </li>
      <li class="nav-item">
        <a (click)="logOut()" class="nav-link">
          <span class="fa fa-sign-out"></span> Logout</a>
      </li>
    </ul>
    <form *ngIf="currentPath === 'home'" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="progress" style="border-radius:0; height:2rem;">
  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0"
    aria-valuemax="100" style="width:100%;"></div>
</div>
<div *ngIf="usersDB" class="row">
  <div class="col">
    <span class="fa fa-map-marker"></span> {{usersDB[loggedUser].location + ", " + usersDB[loggedUser].age}}
    <br>
    <span class="fa fa-briefcase"></span> {{usersDB[loggedUser].job}}
  </div>
  <div class="col">
    <img [src]="avatar" width="200" height="200" alt="avatar">
  </div>
  <div class="col">
    {{usersDB[loggedUser].name}}
    <span class="fa fa-user"></span>
    <br> {{usersDB[loggedUser].email}}
    <span class="fa fa-envelope"></span>
  </div>
</div>