<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" (click)="goHome()">
        <img src="../assets/logo.png" alt="logo">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" (click)="logOut()">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
      <li>
        <a href="#" (click)="newEvent()">
          <span class="glyphicon glyphicon-plus"></span> New Event</a>
      </li>
    </ul>
  </div>
</nav>
<div class="under_header"></div>
<div class="row">
  <div class="col-xs-5">
    {{usersDB[loggedUser].location + ", " + usersDB[loggedUser].age}}
    <span class="glyphicon glyphicon-map-marker"></span>
    <br> {{usersDB[loggedUser].job}}
    <span class="glyphicon glyphicon-briefcase"></span>
  </div>
  <div class="col-xs-2">
    <img src="../assets/{{avatar}}">
  </div>
  <div class="col-xs-5">
    <span class="glyphicon glyphicon-user"></span> {{usersDB[loggedUser].name}}
    <br>
    <span class="glyphicon glyphicon-envelope"></span> {{usersDB[loggedUser].email}}
  </div>
</div>