nav {
    background-color:white;
}

a, a:hover, .btn {
    cursor: pointer !important;
}

.under_header {
    background: repeating-linear-gradient( 130deg, #61dcff, #61dcff 1.0em, #5bc7ed 1.0em, #5bc7ed 1.2em);
    height: 35px;
}

.row {
    color:white;
    text-align: center;
    margin:0;
}

.row .col:first-child {
    text-align:right;
    padding-top:20px;
    padding-right:-20px !important;
}

.row .col:last-child {
    text-align:left;
    padding-top:20px;
}

.row .col img {
    margin-top:-50px;
    border:2px solid white;
    border-radius:100%;
}

.dropdown-menu {
    left:-200% !important;
    right:0 !important;
}

@media screen and (max-width: 768px) {
    .row .col:first-child, .row .col:last-child {
        display:none;
    }

    .row .col img {
        width:150px !important;
        height:150px !important;
    }
}