<div class="container">
    <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4 center-block" style="float: none;" align="center">
        <main>
            <div class="logo-container">
                <div class="logo">
                    <img src="../assets/logo.png" alt="logo">
                </div>
                <div class="down"></div>
            </div>
            <div>
                <form novalidate>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <input required [(ngModel)]="inputEmail" [class.fail-email]="failEmail === true" class="form-control" type="text" id="name"
                            name="name" placeholder="Enter email">
                    </div>
                    <div *ngIf="!forgot">
                        <i class="fa fa-lock"></i>
                        <input required [(ngModel)]="inputPassword" [class.fail-psw]="failPsw === true" class="form-control" type="password" id="description"
                            name="description" placeholder="Enter password">
                    </div>
                    <button *ngIf="!forgot" (click)="logIn()" type="button" class="btn btn-block">Login</button>
                    <button *ngIf="forgot" (click)="send()" type="button" class="btn btn-block">Send</button>
                    <p *ngIf="!validation" class="form-alert"> {{ loginFail }}</p>
                    <div class="forgot-psw">
                        <a *ngIf="!forgot" (click)="forgotPsw()">{{ remember }}</a>
                        <p *ngIf="forgot" [class.forgot-alert]="failEmail === true"> {{ forgotFail }}</p>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            CliCk Company &copy; 2017
        </footer>
    </div>
</div>
