<div class="container">
<div class="col-xs-0 col-sm-2 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4" align="center">
<main>
<!-- LOGO CONTAINER -->

<div class="logo-container">
    <div class="logo">
        <img src="../assets/logo.png" alt="logo">
    </div>
    <div class="down"></div>
</div>
<div class="padding">
<form novalidate >             
            <input  class="form-control" type="text" id="name" name="name" placeholder="Enter name">
            <input class="form-control" type="password" id="description" name="description" placeholder="Enter password">
    <button type="button" class="btn btn-block">Login</button>
    <div class="forgot-psw">Forgot your password?</div>
</form>
</div>
</main>
<footer class="toshow">
     Copyright CliCk Company 2017
</footer>
</div>
<div class="col-xs-0 col-sm-2 col-md-4 col-lg-4"></div>
</div>
