/**** General Rules ****/
p {
    margin: 0px;
    padding: 0px;
}
/***** BODY ******/
body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*** MAIN ***/
.center-block{
    position:absolute;
    top:50%;
    left:50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/** LOGO CONTAINER **/
.logo-container {
    margin-bottom: 4%;   
    border-radius: 0.3em;
    background-color: white;
}
.logo img{
    height: 60px;
    margin: 9px 0 5px 0;  
}
/**** Decoration bar ****/
.progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background-color: #007bff;
    height: 40px;
    border-radius: 0 0 0.3em 0.3em;
}
/** FORM CONTAINER **/
form {      
    background-color: white;
    border-radius: 0.3em;
    padding: 45px 20px 30px 20px;
    position: relative;
    z-index: 1;
}
/*** input ***/
input {
    border: 1px solid #cdcdcd;
    border-radius: 0.3em;
    padding-right: 20px;
}
.input-group{
    margin-bottom: 20px;   
}
input#name, input#password{  
    padding-right: 53px;
}
.fail-email, .fail-psw {
    border-color: red; 
}
.form-alert, .forgot-alert{
    color: red;
    margin-bottom: 10px;
}
.fail-remember{
    color: red;
}
[type="button"] {
text-align: center;
height:54px;
font-size: 18px;
margin-bottom: 20px;
}
[type="text"], [type="password"] {   
    text-align: center;   
    height:54px;
}
/*** forgot password ***/
.forgot-psw {    
    font-size: 12px;    
}
 form a {
     text-decoration: none;
     color: black;
     cursor: pointer;
 }
 .forgot-psw a:hover{
     color:#007bff;
 }
/**** FOOTER ****/
footer {
    margin-top: 10%; 
    color: white;
    font-size: 12px;
}