<div class="container">
    <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4 center-block" style="float: none;" align="center">
        <main>
            <div class="logo-container">
                <div class="logo">
                    <img src="../assets/logo.png" alt="logo">
                </div>
            </div>
            <div>
                <form novalidate>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="fa fa-envelope "></span>
                        </span>
                        <input required [(ngModel)]="inputEmail" [class.fail-email]="failEmail === true" class="form-control" type="text" id="name"
                            name="name" placeholder="Enter email">
                    </div>
                    <div *ngIf="!forgot" class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="fa fa-key"></span>
                        </span>
                        <input required [(ngModel)]="inputPassword" [class.fail-psw]="failPsw === true" class="form-control" type="password" id="password"
                            name="description" placeholder="Enter password">
                    </div>
                    <button *ngIf="!forgot" (click)="logIn()" type="button" class="btn btn-block btn-primary">Login</button>
                    <button *ngIf="forgot" (click)="send()" type="button" class="btn btn-block btn-primary">Send</button>
                    <p *ngIf="!validation" class="form-alert"> {{ loginFail }}</p>
                    <div class="forgot-psw">
                        <div *ngIf="!forgot" class="form-check">
                            <label class="form-check-label">
                                <input (change)="rememberMeLogin = !rememberMeLogin" type="checkbox" class="form-check-input" [checked]="rememberMeLogin"> Remember me
                            </label>
                        </div>
                        <a *ngIf="!forgot" (click)="forgotPsw()">{{ remember }}</a>
                        <div *ngIf="forgot" [class.forgot-alert]="failEmail === true">
                            <p> {{ forgotFail }}</p>
                            <p>
                                <a (click)="goBack()">Go back</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            CliCk Company &copy; 2017
        </footer>
    </div>
</div>