/**** General Rules ****/
p {
    margin: 0px;
    padding: 0px;
}
/***** BODY ******/
body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*** MAIN ***/
.center-block{
    position:absolute;
    top:50%;
    left:50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/** LOGO CONTAINER **/
.logo-container {
    margin-bottom: 4%;   
    padding-top: 15px;
    border-radius: 0.3em 0.3em 0 0;
    background-color: white;
    border-radius: 0.3em;   
}
.logo {
    border-bottom: 1px solid #cdcdcd;
    height: 4.5em;     
}
.logo img{
    height: 60px;  
}

/**** Decoration bar ****/
.down {
    display:inherit;
    background: repeating-linear-gradient( 120deg,
    #61dcff,
    #61dcff 1.0em,
    #5bc7ed 1.0em,
    #5bc7ed 1.2em);
    height:2.5em;
    border-radius: 0 0 0.3em 0.3em;
}
/** FORM CONTAINER **/
form {      
    background-color: white;
    border-radius: 0.3em;
    padding: 45px 20px 30px 20px;
    position: relative;
    z-index: 1;
}
/*** input ***/

input {
    border: 1px solid #cdcdcd;
    border-radius: 0.3em;

}
.fail-email, .fail-psw {
    border-color: red; 
}
.form-alert{
    color: red;
    margin-bottom: 10px;
}
.fail-remember{
    color: red;
}
.fa{
    position: absolute;
    left: 30px;
    z-index: 2;
}
.fa-envelope{
    top: 62px;  
}
.fa-lock{
    top:132px;
    font-size: 23px;
}

[type="button"] {
background-color: #61dcff;
text-align: center;
height:54px;
margin-bottom: 20px;
}

[type="text"]:hover, [type="password"]:hover {
    background-color: rgba(97, 221, 255, 0.32);    
}

[type="button"]:hover {
    background-color: rgb(0, 197, 228);
    color: #181818;
    cursor: pointer;
}

[type="text"], [type="password"] {
   
    text-align: center;
    margin-bottom: 20px;  
    height:54px;
}

/*** forgot password ***/
.forgot-psw {    
    font-size: 12px;    
}
 form a {
     text-decoration: none;
     color: black;
 }
 form a:hover {
    color: #61dcff;
    cursor: pointer;
 }

/**** FOOTER ****/
footer {
    margin-top: 10%; 
    color: white;
    font-size: 12px;
}

