F/**** General Rules ****/
p {
    margin: 0;
    padding: 0;
}

/***** BODY ******/

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
    height:100%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:16px;
}

/*** MAIN ***/
main {
    width:25em; 
    margin: auto; 
    margin-top: 7em; 
}


/** LOGO CONTAINER **/
header {
    box-sizing: border-box;
    margin-bottom: 1em; 
    background-color: white;
    border-radius: 0.3em;
    
}
.logo {
    box-sizing: border-box;
    height: 5em;
    padding-top: 0.75em;  
}

/**** Decoration bar ****/
.down {
    background: repeating-linear-gradient( 120deg,
    #61dcff,
    #61dcff 1.0em,
    #5bc7ed 1.0em,
    #5bc7ed 1.2em);
    height:2.5em;
    border-radius: 0 0 0.3em 0.3em;
}

/** FORM CONTAINER **/
form {
    box-sizing: border-box;
    padding: 1em;
    background-color: white;
    border-radius: 0.3em;
}

/*** input ***/
input {
    box-sizing: border-box;
    border: 0.1em solid #cdcdcd;
    border-radius: 0.3em;
    font-size:1em;
}

img {
    width:7em;
}

#button {
background-color: #61dcff;
padding: 1em;
margin-bottom: 1em;
width:100%;
font-size:0.9em;
font-weight:bold;
letter-spacing: 0.1em;
}


#button:hover {
    background-color: #5bc7ed;
    color: #181818;
    cursor: pointer;
}

.field {
    width:100%;
    padding: 1em;
    margin-bottom: 1em;
}

.field:hover {
    background-color: rgba(97, 221, 255, 0.32);    
}

/*** forgot password ***/
.forgot-psw {    
    font-size:0.8em;
}
 a {
     text-decoration: none;
     color: black;
 }
 a:hover {
     text-decoration:underline;
 }

 #warning {
     color:red;
 }

/**** FOOTER ****/
footer {
    margin-top: 1em; 
    color: white;
    font-size:0.8em;
}

/**** Class for script ****/
.toshow {
    display: none;
}

@media screen and (max-width:400px) {
    main {
        width:90%;
        margin-top:1em;
    }
    img {
        width:5em;
    }
    .logo {
        height:4em;
    }
    .down {
        display:none;
    }
}
@media screen and (max-width:1024px) {
    main {
        margin-top:1em;
    }
}