/**** General Rules ****/
p {
    margin: 0px;
    padding: 0px;
}

/***** BODY ******/

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-image: url("image/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/*** MAIN ***/

main {
    width:30%; 
    margin: 0 auto; 
    padding-top: 10%; 
    display:flex; 
    flex-direction: column; 
}


/** LOGO CONTAINER **/
.logo-container {
    margin-bottom: 3%; 
    
    border-radius: 0.3em 0.3em 0 0;
    background-color: white;
    border-radius: 0.3em;
    
}
.logo {
    border-bottom: 1px solid #cdcdcd;
    height: 5em;
    padding-top: 0.75em;  
}

/**** Decoration bar ****/
.down {
    display:inherit;
    background: repeating-linear-gradient( 120deg,
    #61dcff,
    #61dcff 1.0em,
    #5bc7ed 1.0em,
    #5bc7ed 1.2em);
    height:2.5em;
    border-radius: 0 0 0.3em 0.3em;
}

/** FORM CONTAINER **/
form {
    padding: 8% 5%; 
    display:flex; 
    flex-direction: column;
    background-color: white;
    border-radius: 0.3em;
}

/*** input ***/
input {
    border: 1px solid #cdcdcd;
    border-radius: 0.3em;
}

[type="submit"] {
background-color: #61dcff;
text-align: center;
padding: 1em;
margin-bottom: 4%;
}

[type="text"]:hover, [type="password"]:hover {
    background-color: rgba(97, 221, 255, 0.32);    
}

[type="submit"]:hover {
    background-color: rgb(0, 197, 228);
    color: #181818;
    cursor: pointer;
}

[type="text"], [type="password"] {
    padding: 1em;
    text-align: center;
    margin-bottom: 4%;
}

/*** forgot password ***/
.forgot-psw {    
    font-size: 12px;    
}
 form a {
     text-decoration: none;
     color: black;
 }
 form a:hover {
    color: #61dcff;
 }

/**** FOOTER ****/
footer {
    margin-top: 3%; 
    color: white;
    height: 60px; 
    
}

/**** Class for script ****/
.toshow {
    display: none;
}